@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./base/base";
@import "./base/animations";
@import "./base/utilites";
@import "./base/typography";

@import "./pages/home";
@import "./css_components/button";

@import "./layout/header";

@import "./layout/grid";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
why 62.5%??? because wewant to use rems, and 10px is a good base for using rems
the 62.5 comes from the standard web browser value of 16px. So we convert the defualt font size
to be 62.5% of 16px which is really 10px. now everything can scale according to settings the user selects
from their browser settings, and everything will translate as we expect
*/
html {
  //This defines 1 rem
  font-size: 62.5%;
}

//make sure ref to google fonts is added
body {
  box-sizing: border-box;
}
