@mixin clearfix {
  //appends sudo element after the element that will clear the floats
  &::after {
    content: ""; //otherwise sudo element will not appear on page
    display: table; //displayingour clear fix. this is just a standar of some kind
    clear: both; // clear float left or right
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
